extends ../layoutBeforeConnect.pug 

block content 
    section 
        h1 Se connecter
        form(action="/store", method="post")
            div
                label(for="pseudo") Pseudo
                input(id="pseudo",type="text", name="pseudo", value="pseudo")
            div 
                label(for="password") Mot de passe 
                input(id="password", type="text", name="password", value="mot de passe")
            div 
                 a(href="") Mot de passe oublié ?   
            div
                button(type="submit") Se connecter 
            div 
                a(href="/connexion/register'") Pas encore de compte, inscris-toi !     