extends ../layoutBeforeConnect.pug 

block content 
    section 
        h1 S'inscrire
        form(action="/register/store", method="post")
            div
                label(for="pseudo") Pseudo
                input(id="pseudo",type="text", name="pseudo", value="pseudo")
            div 
                label(for="email") Email  
                input(id="email", type="text", name="email", value="email") 
            div 
                label(for="password") Mot de passe 
                input(id="password", type="password", name="password", value="password")
            div
                button(type="submit") S'inscrire
            div 
               