extends ../layout.pug 

block advises 
    section 
    formulaire
     h1 Donner un conseil
     form(action="/post/store", method="post")
         div 
         label(for="content") Conseil  
         textarea(id="content", name="content" ) conseils en quelques clics
         button(type="submit") Enregistrer   