extends ../layout.pug 

block challenge
    section 
    h1 Créer un nouveau défi 
    form(action="challenges/store", method="post")
        div
          label(for="title") Titre
          input(id="title",type="text", name="title", value="title")
        div 
          label(for="content") Contenu 
          textarea(id="content", name="content" ) Décrire le défi en quelques lignes.
        div 
          label(for="impact") Impact environnemental  
          input(id="impact", type="text", name="impact", value=" kg co2")
        div
          label(for="succes") Défi relevé  
          input(id="success", type="checkbox", name="success", value="success")
        div
        button(type="submit") Enregistrer