extends ../layout.pug

block content
    h1 Choisis ton défi  
    section
        each result in results
            h1= result.title
            p= result.content
            p= result.impact
        
